@page "/"

<PageTitle>Blazor Introduction - Home</PageTitle>

<h1 class="m-0">Blazor Introduction!</h1>

<div class="lead mb-5 fs-4">Applications built to demonstrate the basics of Blazor</div>

<dl>
    <dt>Blazor Project Structure</dt>
    <dd>Modify the Blazor project structure</dd>
    <dt>Razor Syntax</dt>
    <dd>Add additional logic to html markup</dd>
    <dt>Routing</dt>
    <dd>Add pages and give them a route</dd>
</dl>