@page "/reverseastring"

<PageTitle>Reverse A String</PageTitle>

<h3>Reverse A String</h3>

<div class="vstack gap3 col-8 col-md-6">
    <InputText class="form-control" placeholder="Enter a string to reverse" @bind-Value="message"/>

    <div class="text-center m-2">
        <button class="btn btn-primary" @onclick="ReverseString">Reverse Me</button>
    </div>
    <hr/>

    @if (!string.IsNullOrWhiteSpace(displayMessage))
    {
        <Message DisplayMessage="@displayMessage" Title="Result" CssClass="@cssClass"/>
    }
</div>